.card-banner {
    margin: 10px;
}
#contactForm {
    width:99%
}
header.card-header{
    background-color: #3167eb!important;
}
header.card-header a{
    color:white!important;
}
#leftBamien .card{
    margin-bottom: 10px;
}
#leftBamien ul li::before{
    content: "■";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 10px;
    margin-right: 10px;
}
.float-contact {position: fixed;bottom: 60px;left: 20px;z-index: 99999;}

.chat-zalo {background: #8eb22b;border-radius: 20px;padding: 0 18px;color: white;display: block;margin-bottom: 6px;}

.chat-face {background: #125c9e;border-radius: 20px;padding: 0 18px;color: white;display: block;margin-bottom: 6px;}

.float-contact .hotline {background: #d11a59!important;border-radius: 20px;padding: 0 18px;color: white;display: block;margin-bottom: 6px;}

.chat-zalo a, .chat-face a, .hotline a {font-size: 15px;color: white;font-weight: 400;text-transform: none;line-height: 0;}@media (max-width: 549px){.float-contact{display:none}}

.nav-item a{
    color:white;
}
#main_nav .nav-link:hover {
    color: wheat!important;
}
#main_nav .input-group {
    margin-top: 12px;
}
#main_nav li.nav-item {
    display: flex;
    align-items: center;
}
@media (min-width: 992px) {
    .navbar {
        max-height: 53px;
    }
}